/*  */
.pb-md-52{
    @include media-breakpoint-up(md){
     padding-bottom: 52px; 
    }
    
  }
  
  .pt-md-80{
    @include media-breakpoint-up(md){
      padding-top: 80px;
  }
  
  }

.h2-md{
    @include media-breakpoint-up(md){
        font-size: 2.25rem;
    }
}