/* pages index */
/* layout headers */
.logo{
    a{
        text-indent: 101%;
    }
}

.shopping-cart{

    &::after{
        content:"";
        position: absolute;
        top: -10px;
        right: -10px;
        width: 20px;
        height: 20px;

        border-radius: 50%;
        background-color: $secondary;
        color: $white;
        font-size: $font-size-base;
        font-family: Roboto, sans-serif;

    }
}

/* menu */
.menu-list{
    height: 3.25rem;
}

/* exibition banner */
.exhibition{
    &-banner{
        background-image: url(https://images.unsplash.com/photo-1506846540181-347008948fff?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1193&q=80);

        height: 480px;
        padding-bottom: 80px;

        @include media-breakpoint-up(md){
            padding-bottom: 0;
        }
    }    
}
/* subscribe box */

.subscribe{

    &-banner{
        background-image: url(https://images.unsplash.com/photo-1536768767433-cc552f38def9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);

        padding-top: 200px;

    }
}
/* index */
/* popular exhibition */
.popular{
    &-list{

        @include media-breakpoint-up(md){
            height: 350px;
        }
        
    }

    &-date{
        width: 40px;
    }
}

/* live streaming */
.live{
    &-bg-img{
        background-image: url(https://images.unsplash.com/photo-1511368466880-3ea5d800152c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1500&q=80);

        height: 464px;
        @include media-breakpoint-up(md){
            height: 500px;
        }
        
        
    }
    &-bg-color{
        background-color: #190014CC;
    }

    &-card-img{
        width: 128px;
        height: 128px;
    }
}
