/* width */

.w-40px {
  width: 40px;
}

.w-65 {
  width: 65px;
}
.w-120 {
  width: 120px;
}

.w-md-350 {
  @include media-breakpoint-up(md) {
    width: 350px;
  }
}

/* height */

.h-120 {
  height: 120px;
}
.h-256 {
  height: 256px;
}

.h-345 {
  height: 345px;
}

.h-400 {
  height: 400px;
}

.h-560 {
  height: 560px;
}

.h-md-256 {
  @include media-breakpoint-up(md) {
    height: 256px;
  }
}

.h-md-350 {
  @include media-breakpoint-up(md) {
    height: 350px;
  }
}

/* font */
.h2-md {
  @include media-breakpoint-up(md) {
    font-size: 2.25rem;
  }
}
