/* utilities special spacer */
.px-18 {
  padding-left: 18px;
  padding-right: 18px;
}

.py-18 {
  padding-top: 18px;
  padding-bottom: 18px;
}

.py-44 {
  padding-top: 44px;
  padding-bottom: 44px;
}

.mt-50{
  margin-top: 50px;
}

.mb-42 {
  margin-bottom: 42px;
}

/* rwd */
.pb-md-52 {
  @include media-breakpoint-up(md) {
    padding-bottom: 52px;
  }
}

.pt-md-80 {
  @include media-breakpoint-up(md) {
    padding-top: 80px;
  }
}

.mb-md-42 {
  @include media-breakpoint-up(md) {
    margin-bottom: 42px;
  }
}

.mt-md-82 {
  @include media-breakpoint-up(md) {
    margin-top: 82px;
  }
}

.bottom-25 {
  bottom: 25%;
}
