/* utilities bg-img */

.bg-img {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
/* components card-img */
.card-img {
  object-fit: cover;
  object-position: center;
}

.btn-hover-secondary {
  border-bottom: 1px solid transparent;
  &:hover {
    border-bottom: 1px solid $secondary;
  }
}

.vh-100-minus-header {
  height: calc(100vh - 82px);
}
