/* utilities bg-img */

.bg-img {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
/* components card-img */
.card-img {
  object-fit: cover;
  object-position: center;
}

.btn-hover-secondary {
  border-bottom: 1px solid transparent;
  &:hover {
    border-bottom: 1px solid $secondary;
  }
}

/* color */
.bg-primary-dark{
  background-color: #190014CC;
}

/* text-indent */
.text-indent-101{
  text-indent: 101%;
}

/* z-index */
.z-index-1055{
  z-index: 1055;
}