.scroll-bar{
    //捲軸底色
    &::-webkit-scrollbar-track {
      background-color: map-get($theme-colors, "white");
    }
    //捲軸寬度
    &::-webkit-scrollbar {
      width: 2px;
      background-color: black;
    }
    //捲軸本體顏色
    &::-webkit-scrollbar-thumb {
      background-color: map-get($theme-colors, "secondary");
    }

}